/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #4ee4dc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 200px;
}

main {
    text-align: center;
    padding: 20px;
}

.carousel {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carousel-text {
    animation: carouselAnimation 5s infinite;
}

footer {
    
    background-color: #2b9de4;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@keyframes carouselAnimation {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}
